<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="timesheets" title="msg://com.company.timesheets/menu.timesheets.title" opened="true">
        <item view="ts_TimeEntry.my" title="msg://com.company.timesheets.view.timeentry/myTimeEntryListView.title"/>
        <item view="ts_Task.my" description="msg://com.company.timesheets/menu_config.ts_Task.my.description"
              title="msg://com.company.timesheets/menu_config.ts_Task.my.title"/>
        <item view="ts_PdfViewerView" title="msg://com.company.timesheets.view.pdfviewer/pdfViewerView.title"/>
        <item view="ts_ProgrammaticProjectsListView"
              title="msg://com.company.timesheets.view.project.programmaticprojectslist/programmaticProjectsListView.title"/>
    </menu>

    <menu id="projects" title="msg://com.company.timesheets/menu.projects.title" opened="true"> <!-- Project Management -->
        <item view="ts_Client.list" title="msg://com.company.timesheets.view.client/clientListView.title"/>
        <item view="ts_Project.list" title="msg://com.company.timesheets.view.project/projectListView.title"/>
        <separator/>
        <item view="ts_TimeEntry.list" title="msg://com.company.timesheets.view.timeentry/timeEntryListView.title"/>
    </menu>

    <menu id="settings" title="msg://com.company.timesheets/menu.settings.title" opened="true"> <!-- Settings -->
        <item view="ts_TaskType.list" title="msg://com.company.timesheets.view.tasktype/taskTypeListView.title"/>
        <item view="ts_ProjectRole.list"
              title="msg://com.company.timesheets.view.projectrole/projectRoleListView.title"/>
    </menu>

    <menu id="administration" title="msg://com.company.timesheets/menu.administration.title" opened="true"> <!-- Administration -->
        <item view="ts_User.list" title="msg://com.company.timesheets.view.user/UserListView.title"/>
        <item view="ts_User.simple-list" title="msg://com.company.timesheets.view.user/userListViewSimple.title"/>
    </menu>
</menu-config>